<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${message}"></h2>
<form action="/sinh-vien/save" method="post" th:object="${sinhVien}">
    Id: <input th:field="*{id}"><i th:errors="*{id}"></i> <br>
    Fullname: <input th:field="*{fullName}"> <i th:errors="*{fullName}"></i> <br>
    Gender: <input th:field="*{gender}" type="radio" value="true">Nam <i th:errors="*{gender}"></i>
    <input th:field="*{gender}" type="radio" value="false">Nu <i th:errors="*{gender}"></i> <br>
    Birthday: <input th:field="*{birthday}"> <i th:errors="*{birthday}"></i> <br>
    Photo: <input th:field="*{photo}"> <i th:errors="*{photo}"></i> <br>
    Mark: <input th:field="*{mark}"> <i th:errors="*{mark}"></i><br>
    <button>Save</button>
</form>
</body>
</html>